<div id="modifyDiv">
    <img src="assets/imagenes/foto.png" class="modifyPhoto">
    <p class="nombre">Francisco Manuel Prados Domínguez
        <br><p class="alu">Alumno de 2º GS DAM</p>
    </p>
    <p class="frase">La felicidad de tu vida depende de la calidad de tus pensamientos</p>
    <br><br>
    <p class="parrafo">
        Este proyecto se basa en una administración de notas gestionadas por el usuario
        logueado, en el cuál puedes añadir notas, editar notas, borrar notas de dicho
        usuario con el que te hayas logueado.

        Otra funcionalidad de la que se encarga dicho proyecto consiste en que cuando estés logueado,
        al recargar la página debes de seguir logueado con el usuario que te logueaste al principio.
    </p>

    <a href="https://github.com/Franpd25"><img src="assets/imagenes/logoGitHub.png" class="logoGit"></a>
    <a href="https://www.linkedin.com/in/fran-prados-dom%C3%ADnguez-2873a6215"><img src="assets/imagenes/logoLinkedin.png" class="logoLinkedin"></a><br>
    <br>
</div>