.table {
    width: 50%;
    height: 70px;
    margin-left: 40px;
    margin-top: 35px;
    table-layout: fixed;
}
.table, td, th {
    border: 1px solid;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;
    color: whitesmoke;
    background-color: cadetblue;
}
thead th, tfoot th, tfoot td {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
}